body{
    background-color: white;
    a{
        font-family: 'Roboto';
        color: white;
        text-decoration: none;
        &:hover{
            color: orange;
            transition: all 0.3s ease-in-out;
        }
    }
    p{
        color: white;
        font-family: 'Roboto';
    }
    h1{
        padding: 2rem;
    }
}
