@mixin tamanio-pantalla($Screen){
    @if $Screen == "mobile"{
        @media (max-width:576px) {
            @content;
            }
        }
}   

@media (prefers-color-scheme: light) {
   :root {
       --body-bg: #FFFFFF;
       --body-color: #000000;
   }
}

@media (prefers-color-scheme: dark) {
   :root {
       --body-bg: #FFFFFF;
       --body-color: #000000;
   }
}